TUNNEL_TOKEN=

DATABASE_URL=sqlite:///tpauth.db
OWNER_EMAIL=
OWNER_PASSWORD=
RP_ID=migueltaibo.com
RP_NAME=TPCloud
ORIGIN=https://login.migueltaibo.com
ACCOUNTS_ORIGIN=https://accounts.migueltaibo.com
