{
    auto_https off
    admin off
}

(protected) {
    forward_auth auth:8000 {
        uri /auth/passkey/validate
    }
}

http://login.migueltaibo.com {
    handle /auth/* {
        reverse_proxy auth:8000
    }
    handle {
        reverse_proxy login:80
    }
}

http://cloud.migueltaibo.com {
    handle /auth/* {
        reverse_proxy auth:8000
    }
    handle {
        import protected
        reverse_proxy cloud:80
    }
}

http://tphome.migueltaibo.com {
    header Cache-Control "no-store, no-cache, must-revalidate"

    handle /auth/* {
        reverse_proxy auth:8000
    }
    handle /api/ws {
        reverse_proxy tphome-api:8000
    }
    handle /api/* {
        import protected
        reverse_proxy tphome-api:8000
    }
    handle /openapi.json {
        import protected
        reverse_proxy tphome-api:8000
    }
    handle /firmware {
        import protected
        reverse_proxy tphome-api:8000
    }
    handle {
        import protected
        reverse_proxy tphome-frontend:80
    }
}
