server {
    listen 80;

    location = /auth-check {
        internal;
        proxy_pass         http://auth:8000/auth/passkey/check;
        proxy_pass_request_body off;
        proxy_set_header   Content-Length "";
        proxy_set_header   Cookie $http_cookie;
    }

    location / {
        auth_request /auth-check;
        error_page 401 = @login;

        proxy_pass         ${TPHOME_UPSTREAM};
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $http_x_forwarded_proto;
    }

    location @login {
        return 302 https://login.migueltaibo.com/?redirect=$host;
    }
}
